@import "tailwindcss";

@theme {
  --color-dark: #1E1E1E;
  --color-dark-soft: #2A2A2A;
  --color-dark-mid: #303030;
  --color-dark-light: #363636;
}
body {
    background: #1E1E1E;
}

html {
  scroll-behavior: smooth;
}